<div class="container">

  <%= render 'reports/form', form_name: 'Update Report', btnTxt: 'Save' %>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#report_prevalence').on('change', function () {
            $.ajax({
                url: "<%= custom_path %>",
                type: "POST",
                data: {prevalence: $(this).val(), id: <%= @report.id %>}
            });
        });
    });
</script>


