<div class="container">

<%= render 'reports/form', form_name: 'Create Report', btnTxt: 'Create' %>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#report_prevalence').on('change', function () {
            $.ajax({
                url: "<%= custom_path %>",
                type: "POST",
                data: {prevalence: $(this).val()}
            });
        });
    });
</script>
